services:
  shop-webserver-dev:
    build:
      context: .
      dockerfile: shop/shop-webserver/Dockerfile.dev
      args:
        SERVICE_PATH: shop/shop-webserver
    environment:
      - CHOKIDAR_USEPOLLING=true
      - SHOP_WEB_DEV_PORT=${SHOP_WEB_DEV_PORT:-5173}
    ports:
      - "${SHOP_WEB_DEV_PORT:-5173}:5173"
    volumes:
      - ./:/usr/src
      - node_modules_shop:/usr/src/node_modules
    profiles: ["webdev"]

volumes:
  node_modules_shop:
